.card-name{
  background-image: url(https://ak2.picdn.net/shutterstock/videos/27210322/thumb/12.jpg) ;
width: 40%;
border-radius: 5% ;
}
.num{
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  }
  .mastercard{
    display:flex; 
    justify-content: flex-end;
  }
  .date{
    display: flex;
    justify-content: space-between;
    color: aliceblue;
  }
  .color{
    color: aliceblue;
  }
.Val1{
  display: flex ; 
justify-content: space-between ;
  color: blue ;
}
.Val2{
  justify-content: space-between ;
}